<link rel="stylesheet" href="styles/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="styles/bootstrap/bootstrap-grid.css" />


<div class="row">
    <div class="col">
        <h4 class="d-inline">
            <slot name="title">Terms and Conditions</slot>
        </h4>
        <div class="float-right d-inline text-muted">
            <span>Step</span> <span id="currentSlideNumber">1</span>/<span id="totalSlideNumber">4</span>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <macro-carousel disable-drag>
            <div>slide1</div>
            <div>slide2</div>
        </macro-carousel>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <button type="button" class="btn btn-light btn-outline-info float-right  mx-1">I Accept</button>
    </div>
</div>