<link rel="stylesheet" href="styles/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="styles/bootstrap/bootstrap-grid.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Report a case :</h3>
        </div>
    </div>
    <div id="content" class="container">
        <ee-wizard>
            <div slot="item" title="Terms and Conditions" nextButtonText="I Accept" id="termsAndConditions">Loading...</div>
            <div slot="item" title="About your self">
                content of slide 2
            </div>
        </ee-wizard>
    </div>
</div>