<link rel="stylesheet" href="styles/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="styles/bootstrap/bootstrap-grid.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Latest cases :</h3>
        </div>
    </div>
    <div id="cardsContainer">
        <ee-lost-person-card></ee-lost-person-card>
        <ee-lost-person-card></ee-lost-person-card>
        <ee-lost-person-card></ee-lost-person-card>
        <ee-lost-person-card></ee-lost-person-card>
        <ee-lost-person-card></ee-lost-person-card>
    </div>
</div>