@import url('fonts.css');

body {
    background: #F4F4F4;
    border: 0 none;
    color: #666;
    /*font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline; */
}