<link rel="stylesheet" href="styles/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="styles/bootstrap/bootstrap-grid.css" />

<header>
    <div class="container">
        <div id="globalMenu" class="row">
            <div class="col-10">Missing persons</div>
            <div class="col-2"><span id="supEetharLogoType">مشروع من</span><span id="eetharLogoType">إيثار</span></div>
        </div>
    </div>
    <hr />
    <div class="container">
    <div id="menu" class="row">
        <div class="col">
            <a href="/index.html" class="menuItem" active>Latest cases</a>
            <div class="spacer"></div>
            <a class="menuItem" >search cases</a>
            <div class="spacer"></div>
            <a href="/reportacase.html" class="menuItem" >report a case</a>
            <div class="spacer"></div>
            <a class="menuItem" >contact</a>
            <div class="spacer"></div>
        </div>
    </div>
    </div>
</header>